
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Nabla&family=Orbitron:wght@400..900&display=swap');
@tailwind base;@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=DotGothic16&family=Nabla&family=Orbitron:wght@400..900&display=swap');
@tailwind components;
@tailwind utilities;




@layer base {

  /* *{
    border: 1px solid red;
  } */

  
  ::-moz-selection {
    background: #D1D1C7
  }
  ::-webkit-selection {
    background: #D1D1C7
  }
  ::selection {
    background: #D1D1C7
  }

  .text-smooth {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  @font-face {
    font-family: "CabinetGrotesk-Variable";
    src: url("./assets/fonts/CabinetGrotesk-Variable.ttf") format("truetype");
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
  }
  
  @font-face {
    font-family: "GeneralSans-Variable";
    src: url("./assets/fonts/GeneralSans-Variable.ttf") format("truetype");
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
  }


 @media (min-width: 640px) {
  * {
    cursor: none
  }
}
  a,
  p,
  span {
    @apply font-grotesk;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-general tracking-headings;
  }

  .font-outline-4 {
    -webkit-text-stroke: 5px black;
  }

  .font-outline-3 {
    -webkit-text-stroke: 4px #0E0E0C;
  }
}

@layer components {
  .button {
    @apply  bg-accent-300 px-8 py-3 text-secondary-200 rounded-full
  }
}

@layer utilities {
  .title {
    clip-path: polygon(0 0, 200% 0, 100% 100%, 0% 100%);
    line-height: clamp(6rem, 16vw, 10rem); /* Set the desired line height */

  }

  nav a:hover ~ .cursor {
    transform: scale(5);
    opacity: 0;
  }

  .section-heading {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
  }
}
::-webkit-scrollbar {
  width: 7px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Round corners of the scrollbar thumb */
  
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color when hovered */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* Makes the scrollbar thinner */
  scrollbar-color: #000000 #f1f1f1; /* Thumb color and track color */
 
}

body {
  cursor: none; /* Hide default cursor */
}

/* Additional styles for the cursor */
.cursor {
  position: fixed;
  border-radius: 50%;
  background-color: rgb(73, 73, 73);
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 50;
  transition: width 0.2s ease, height 0.2s ease, opacity 0.2s ease;
}

